@font-face {
  font-family: "TT-Lakes-Neue";
  src: url("../fonts/TT-Lakes-Neue-Trial-Regular.woff") format("woff"),
    url("../fonts/TT-Lakes-Neue-Trial-Regular.woff2") format("woff2"),
    url("../fonts/TT-Lakes-Neue-Trial-Regular.svg#TT-Lakes-Neue-Trial-Regular")
      format("svg"),
    url("../fonts/TT-Lakes-Neue-Trial-Regular.eot"),
    url("../fonts/TT-Lakes-Neue-Trial-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TT-Lakes-Neue-Trial-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT-Lakes-Neue";
  src: url("../fonts/TT-Lakes-Neue-Trial-Bold.woff") format("woff"),
    url("../fonts/TT-Lakes-Neue-Trial-Bold.woff2") format("woff2"),
    url("../fonts/TT-Lakes-Neue-Trial-Bold.svg#TT-Lakes-Neue-Trial-Bold")
      format("svg"),
    url("../fonts/TT-Lakes-Neue-Trial-Bold.eot"),
    url("../fonts/TT-Lakes-Neue-Trial-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/TT-Lakes-Neue-Trial-Bold.ttf") format("truetype");

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "StoneSoupNF";
  src: url("../fonts/StoneSoupNF.woff") format("woff"),
    url("../fonts/StoneSoupNF.woff2") format("woff2"),
    url("../fonts/StoneSoupNF.svg#StoneSoupNF") format("svg"),
    url("../fonts/StoneSoupNF.eot"),
    url("../fonts/StoneSoupNF.eot?#iefix") format("embedded-opentype"),
    url("../fonts/StoneSoupNF.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "TT-Lakes-Neue";
  background-color: #000;
  background-image: url(../images/paws.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 3935px;
}

/* HEADER */

.header {
  min-height: 800px;
  background: linear-gradient(
      rgba(0, 0, 0, 1) 45.56%,
      rgba(0, 0, 0, 0.8) 56.45%,
      rgba(0, 0, 0, 0.6) 67.34%,
      rgba(0, 0, 0, 0.4) 78.23%,
      rgba(0, 0, 0, 0.2) 89.11%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(../images/header/background.png);

  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: auto 173px, cover;
  background-position: top, center;
  position: relative;
}

.header::after {
  content: "";
  width: 100%;
  height: 208px;
  background-image: linear-gradient(
    rgba(0, 0, 0, 1) 18.83%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: matrix(1, 0, 0, -1, 0, 0);
  position: absolute;
  bottom: -40px;
}

/* header-top */

.header-top {
  min-height: 173px;
  padding: 0 48px;
  display: flex;
  justify-content: space-between;
}

.header-logowrap {
  display: block;
  width: 64px;
  height: 64px;
  overflow: hidden;
  margin-right: 24px;
  transition: 0.5s;
}

img {
  width: 100%;
}

.header-logowrap:hover {
  opacity: 60%;
  transition: 0.5s;
}

ul {
  list-style: none;
}

.header-menu {
  display: flex;
  align-items: center;
  position: relative;
}

.header-menu__list,
.header-top__social-icons {
  display: flex;
  align-items: center;
}

.header-menu__item:not(:last-child) {
  margin-right: 24px;
}

.header-menu__link {
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
}

.header-menu__link:hover {
  color: #c2e978;
}

.header-top__social-item {
  width: 24px;
  height: 24px;
  color: #e5e5e5;
}

svg {
  width: 70px;
  height: 70px;
}

.header-top__social-item:hover {
  color: #c2e978;
  cursor: pointer;
}

.header-top__social-item:not(:first-child) {
  margin-left: 34px;
}

.header-top__arrow {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.header-top__arrow-up {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  background-color: #c2e978;
  text-align: center;
  line-height: 50px;
  color: rgb(77, 6, 77);
  transition: 0.5s;
}

.header-top__arrow-up:hover {
  background-color: #191d2e;
  transition: 0.5s;
}

/* header-description */

.container {
  max-width: 1128px;
  margin: 0 auto;
}

.header-description {
  text-align: center;
  position: relative;
}

.header-description__paragraph {
  font-family: "StoneSoupNF";
  font-size: 32px;
  line-height: 39px;
  color: #c2e978;
  letter-spacing: 2px;
}

.header-description__title {
  font-family: "StoneSoupNF";
  font-size: 135px;
  font-weight: 400;
  color: #fff;
  letter-spacing: 2px;
  margin: 0 0;
}

.header-description__text {
  width: 800px;
  margin: 16px auto;
  font-size: 26px;
  line-height: 38px;
  color: #fff;
}

.header-description__textline {
  font-family: "StoneSoupNF";
  font-size: 48px;
  line-height: 46px;
  color: #fff;
  letter-spacing: 2px;
  margin-top: 42px;
}

.header-description--green-color,
.get-title--green-color {
  color: #c2e978;
}

.header-description__textindent {
  width: 606px;
  margin: 12px auto;
  font-size: 20px;
  line-height: 32px;
  color: #fff;
}

.header-description__leaf::before,
.header-description__textline::before,
.header-description__text::after {
  content: "";
  width: 55px;
  height: 55px;
  display: inline-block;
  background-image: url(../images/header/leaf1.svg);
}

.header-description__title::before,
.header-description__textindent::before {
  content: "";
  width: 75px;
  height: 55px;
  background-image: url(../images/header/leaf2.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 160px;
  left: 155px;
  animation: foliage 17s linear infinite;
}

.header-description__title::after {
  content: "";
  width: 55px;
  height: 55px;
  background-image: url(../images/header/leaf3.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 40px;
  right: -40px;
  animation: foliage 15s linear infinite;
  animation-delay: -2s;
}

.header-description__textline::before {
  background-image: url(../images/header/leaf4.svg);
}

.header-description__textindent::before {
  background-image: url(../images/header/leaf5.svg);
  top: 450px;
  left: -210px;
  animation: foliage 12s linear infinite;
  animation-delay: -4s;
}

.header-description__text::after {
  background-image: url(../images/header/leaf6.svg);
}

@keyframes foliage {
  0% {
    opacity: 0;
    top: -10%;
    transform: translateX(-20px);
  }

  15% {
    opacity: 1;
  }

  20% {
    transform: translateX(-20px);
  }

  40% {
    transform: translateX(-20px);
  }

  60% {
    transform: translateX(20px);
  }

  68% {
    opacity: 1;
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 0;
    top: 110%;
    transform: translateX(-20px);
  }
}

/* MAIN */
/* subscribe */

.subscribe-content {
  width: 100%;
  min-height: 355px;
  padding: 0 96px 0 76px;
  margin-bottom: 48px;
  background-image: linear-gradient(#0e1a19 0%, #133b2a 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.subscribe-content__text {
  width: 240px;
  font-family: "StoneSoupNF";
  font-size: 48px;
  line-height: 46px;
  color: #fff;
  letter-spacing: 2px;
}

.subscribe-content__text--green-text {
  width: 300px;
  font-size: 53px;
  line-height: 53px;
  color: #c2e978;
  margin-left: 20px;
}

.subscribe-content__text::before {
  content: "";
  height: 200px;
  background-image: url(../images/subscribe/green\ spot.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 70px;
  left: 50px;
  width: 100%;
}

.subscribe-content__box {
  width: 298px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.subscribe-content__paragraph {
  font-size: 25px;
  line-height: 32px;
  text-align: right;
  color: #fff;
  margin-bottom: 24px;
}

.btn {
  min-width: 188px;
  height: 61px;
  border: none;
  border-radius: 10px;
  background-color: #c2e978;
  padding: 12px;
  font-family: "TT-Lakes-Neue";
  font-size: 17px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #08162b;
  letter-spacing: 3px;
  transition: 0.5s;
}

.btn:hover {
  opacity: 80%;
  cursor: pointer;
  transition: 0.5s;
}

.subscribe-content__decor-tree {
  width: 322px;
  height: 515px;
  background-image: url(../images/subscribe/tree.svg);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -90px;
}

.subscribe-content::after,
.subscribe-content__btn::after,
.subscribe-content__btn::before {
  content: "";
  width: 105px;
  height: 55px;
  background-image: url(../images/subscribe/leaf1.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -30px;
  left: 1050px;
  animation: foliage 17s linear infinite;
}

.subscribe-content__btn::before {
  background-image: url(../images/subscribe/leaf2.svg);
  top: 50px;
  left: 20px;
  animation: foliage 15s linear infinite;
  animation-delay: -2s;
}

.subscribe-content__btn::after {
  background-image: url(../images/subscribe/leaf3.svg);
  top: 240px;
  left: 810px;
  animation: foliage 12s linear infinite;
}

/* parameters */

.parameters-content,
.get-content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.title {
  font-family: "StoneSoupNF";
  font-size: 48px;
  line-height: 46px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.parameters-content__box,
.get-content__box {
  width: 558px;
  min-height: 192px;
  background-color: #191d2e;
  padding: 32px 24px;
}

.parameters-content__subtitle {
  font-family: "StoneSoupNF";
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  color: #c2e978;
  letter-spacing: 2px;
  margin-bottom: 4px;
}

.text {
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

.parameters-content__box:nth-child(odd) {
  margin-right: 10px;
}

.parameters-content__box:not(:nth-last-child(-n + 2)) {
  margin-bottom: 10px;
}

/* get */

.get-title::before,
.roadmap-title::before,
.tokenomics-title::before,
.collection-title::after {
  content: "";
  width: 20px;
  height: 55px;
  display: inline-block;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
}

.get-content__text {
  margin-top: 50px;
}

.get-content__box:not(:nth-child(3n)) {
  margin-right: 10px;
}

.get-content__box:not(:nth-last-child(-n + 3)) {
  margin-bottom: 10px;
}

.get-content__box,
.get-content__box--tree {
  width: 369px;
  min-height: 202px;
  background-image: url(../images/get/getbox1.svg);
  background-size: 41px 47px;
  background-repeat: no-repeat;
  background-position: 24px 32px;
}

.get-content__box--diamond {
  background-image: url(../images/get/getbox2.svg);
  background-size: 50px 50px;
}

.get-content__box--picture {
  background-image: url(../images/get/getbox3.svg);
  background-size: 47px 47px;
}

.get-content__box--dollar {
  background-image: url(../images/get/getbox4.svg);
  background-size: 46px 43px;
}

.get-content__box--foliage {
  background-image: url(../images/get/getbox5.svg);
  background-size: 47px 38px;
}

.get-content__box--wood {
  background-image: url(../images/get/getbox6.svg);
  background-size: 47px 47px;
}

/* collection */

.collection-content {
  display: flex;
  align-items: center;
  margin-top: 143px;
  margin-bottom: 48px;
  position: relative;
}

.collection-title {
  width: 200px;
  text-align: start;
  margin-left: 76px;
}

.collection-title::before {
  content: "";
  height: 200px;
  background-image: url(../images/collection/blue\ spot.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: -65px;
  left: 40px;
  width: 100%;
  z-index: -1;
}

.collection-title::after {
  position: absolute;
  top: -25px;
  left: 240px;
}

.collection-title--green-text {
  font-size: 53px;
  line-height: 65px;
  color: #c2e978;
  margin-left: 20px;
}

.collection-content__text {
  width: 649px;
  margin-left: 103px;
}

.collection-imgwrap {
  display: flex;
  margin-bottom: 24px;
}

.collection-imgwrap__img {
  width: 370px;
  height: 363px;
  border-radius: 20px;
  overflow: hidden;
}
.collection-imgwrap__img:not(:last-child) {
  margin-right: 10px;
}

.collection-buttonwrap {
  text-align: center;
  margin-bottom: 150px;
}

.collection-buttonwrap__text {
  margin-bottom: 16px;
}

.collection-buttonwrap__btn {
  min-width: 370px;
  padding: 12px 24px;
  letter-spacing: 2px;
}

/* airdrop */

.airdrop-title {
  font-size: 64px;
}

.airdrop-paragraph {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin: 24px 0 40px 0;
}

.airdrop-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  margin-bottom: 85px;
}

.airdrop-content__number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.airdrop-content__number--green {
  width: 130px;
  height: 130px;
  font-size: 48px;
  line-height: 28px;
  border: 1.5px solid rgb(0, 219, 44);
  border-radius: 58% 42% 41% 59%/38% 48% 52% 62%;
  color: rgb(0, 219, 44);
}

.airdrop-content__number--orange {
  width: 150px;
  height: 150px;
  font-size: 56px;
  line-height: 32px;
  border: 1.5px solid rgb(255, 169, 41);
  border-radius: 58% 42% 57% 43%/38% 52% 48% 62%;
  color: rgb(255, 169, 41);
}

.airdrop-content__number--fuchsia {
  width: 172px;
  height: 172px;
  font-size: 95px;
  line-height: 37px;
  border: 2px solid rgb(213, 18, 135);
  border-radius: 67% 33% 36% 64%/59% 70% 30% 41%;
  color: rgb(213, 18, 135);
}

.airdrop-content__number--white {
  width: 104px;
  height: 104px;
  font-size: 32px;
  line-height: 22px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 51% 49% 34% 66%/47% 66% 34% 53%;
  color: rgb(255, 255, 255);
}

.airdrop-content__paragraph {
  font-family: "StoneSoupNF";
  text-align: center;
  color: #fff;
}

.airdrop-content__paragraph--green,
.airdrop-content__paragraph--white {
  font-size: 24px;
  line-height: 29px;
  margin-top: 58px;
}

.airdrop-content__paragraph--orange {
  font-size: 32px;
  line-height: 39px;
  margin-top: 35px;
}

.airdrop-content__paragraph--fuchsia {
  font-size: 40px;
  line-height: 49px;
  margin-top: 7px;
}

.airdrop-content__paragraph--white {
  margin-top: 80px;
}

.airdrop-content__box::before,
.airdrop-content__box-five::before,
.airdrop-content__box-five::after {
  content: "";
  display: block;
  width: 105px;
  border-bottom: 1px solid #fff;
  position: absolute;
  top: 70px;
  left: 220px;
}

.airdrop-content__box-five::before {
  width: 95px;
  left: 520px;
}

.airdrop-content__box-five::after {
  width: 115px;
  left: 820px;
}

/* tokenomics */

.tokenomics-content {
  width: 100%;
  min-height: 401px;
  display: flex;
  padding: 64px 97px 57px 76px;
  background-image: linear-gradient(#131624 0%, #191d2e 100%);
  margin-bottom: 154px;
  position: relative;
}

.tokenomics-title {
  text-align: start;
  margin-left: 20px;
}

.tokenomics-title::before {
  position: absolute;
  top: 45px;
  left: 70px;
}

.tokenomics-content__text {
  margin-left: 50px;
}

.tokenomics-content__list {
  line-height: 24px;
  margin-top: 32px;
  list-style: none;
  counter-reset: ol-numbers;
}

.tokenomics-content__item::before {
  counter-increment: ol-numbers;
  content: counter(ol-numbers) "";
  width: 24px;
  line-height: 24px;
  margin-right: 12px;
  display: inline-block;
  background-color: #2f323a;
  color: #c2e978;
  text-align: center;
  border-radius: 30%;
}

.tokenomics-content__item:not(:last-child) {
  margin-bottom: 16px;
}

.tokenomics-content__paragraph {
  font-size: 18px;
  margin-top: 32px;
}

/* roadmap */

.roadmap-title {
  text-align: start;
  margin-left: 76px;
}

.roadmap-content,
.team-content {
  display: flex;
  margin-bottom: 103px;
}

.roadmap-content__box {
  width: 274px;
  min-height: 240px;
  padding: 32px 24px;
  background-image: linear-gradient(#10121d 0%, #191d2e 100%);
  transition: 1s;
  position: relative;
  z-index: 1;
}

.roadmap-content__box:not(:last-child) {
  margin-right: 10px;
}

.roadmap-content__box-icon {
  font-size: 56px;
  color: #7e839a;
  transition: 1s;
}

.roadmap-content__text {
  margin-top: 12px;
  color: #7e839a;
  transition: 1s;
}

.roadmap-content__box::before {
  content: "";
  background-image: linear-gradient(#013742 0%, #077e4c 100%);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 1s;
  z-index: -1;
}

.roadmap-content__box:hover::before {
  opacity: 1;
  cursor: pointer;
}

.roadmap-content__box:hover .roadmap-content__box-icon {
  color: #c2e978;
  cursor: pointer;
  transition: 1s;
}

.roadmap-content__box:hover .roadmap-content__text {
  color: #fff;
  cursor: pointer;
  transition: 1s;
}

/* team */

.team-title {
  font-size: 72px;
}

.team-content__box {
  width: 210px;
  min-height: 363px;
  position: relative;
  transition: 1s;
}

.team-content__box:hover {
  opacity: 80%;
  cursor: pointer;
  transition: 1s;
}

.team-content__box:not(:last-child) {
  margin-right: 20px;
}

.team-content__imgwrap {
  width: 200px;
  height: 237px;
  overflow: hidden;
  margin-bottom: 20px;
}

.team-content__team-name {
  font-family: "StoneSoupNF";
  font-size: 32px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.team-content__team-description {
  font-size: 15px;
  line-height: 24px;
  color: #888d9d;
  text-align: center;
}

.team-title::after {
  content: "";
  width: 55px;
  height: 55px;
  display: inline-block;
  background-image: url(../images/team/leaf1.svg);
}

.team-content__leafD::before,
.team-content__leafR::before,
.team-content__leafG::before {
  content: "";
  width: 85px;
  height: 55px;
  background-image: url(../images/team/leaf2.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: -10px;
}

.team-content__leafL::after,
.team-content__leafG::after {
  content: "";
  width: 85px;
  height: 55px;
  background-image: url(../images/team/leaf3.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 150px;
  left: 150px;
}

.team-content__leafR::before {
  background-image: url(../images/team/leaf4.svg);
  top: 270px;
  left: -40px;
}

.team-content__leafG::before {
  background-image: url(../images/team/leaf5.svg);
  top: -20px;
}

.team-content__leafG::after {
  background-image: url(../images/team/leaf6.svg);
  top: 370px;
  left: 50px;
}

/* FOOTER */

.footer-description {
  width: 100%;
  min-height: 207px;
  padding: 0 80px;
  margin-bottom: 80px;
  background-image: url(../images/footer/hand.svg),
    linear-gradient(#201841 0%, #2c205d 100%);
  background-repeat: no-repeat;
  background-position-x: 45%, 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.footer-description__title {
  width: 315px;
}

.footer-description__title--green-title {
  font-size: 53px;
  line-height: 65px;
  color: #c2e978;
}

.footer-description__social-icons {
  display: flex;
  align-items: center;
}

.footer-description__social-item {
  width: 56px;
  height: 56px;
  color: #c2e978;
  transition: 0.5s;
}

.footer-description__social-item:hover {
  color: rgb(136, 13, 136);
  cursor: pointer;
  transition: 0.5s;
}

.footer-description__social-item:not(:first-child) {
  margin-left: 64px;
}

.footer-bottom {
  font-family: "StoneSoupNF";
  font-size: 17px;
  line-height: 21px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 51px;
}

.footer-description::before {
  content: "";
  width: 55px;
  height: 65px;
  background-image: url(../images/footer/leaf1.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -25px;
  left: 30px;
}

.footer-description::after,
.footer-description__social-icons::after {
  content: "";
  width: 55px;
  height: 55px;
  background-image: url(../images/footer/leaf2.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: -25px;
  left: 620px;
}

.footer-description__social-icons::after {
  background-image: url(../images/footer/leaf3.svg);
  top: -30px;
  left: 1060px;
}

.footer-bottom::before {
  content: "";
  width: 55px;
  height: 55px;
  display: inline-block;
  background-image: url(../images/footer/leaf4.svg);
}
